/* Chinese palette colors */
:root {
    --golden-sand: #eccc68;
    --coral: #ff7f50;
    --wild-watermelon: #ff6b81;
    --peace: #a4b0be;
    --grisaille: #57606f;
    --orange: #ffa502;
    --bruschetta-tomato: #ff6348;
    --watermelon: #ff4757;
    --bay-wharf: #747d8c;
    --prestige-blue: #2f3542;
    --lime-soap: #7bed9f;
    --french-sky-blue: #70a1ff;
    --saturated-sky: #5352ed;
    --white: #ffffff;
    --city-lights: #dfe4ea;
    --ufo-green: #2ed573;
    --clear-chill: #1e90ff;
    --bright-greek: #3742fa;
    --anti-flash-white: #f1f2f6;
    --twinkle-blue: #ced6e0;
}

/* Title font */
@font-face {
    font-family: "Snake font";
    src: url("../Fonts/Brakes/Brakes.ttf") format("truetype");
}
/* Creators font */
@font-face {
    font-family: "Creators font";
    src: url("../Fonts/InsaniBurger/Insanibc.ttf");
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Header css */
/* ---------------------------------------------------------------------------------------------------------------------------------- */

.container-h {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: var(--prestige-blue);
    overflow: clip;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 33vw;
    font-family: "Snake font";
    font-size: 25px;
    letter-spacing: 4px;
    color: var(--city-lights);
}
#creators {
    font-family: "Creators font";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33vw;
    justify-content: flex-start;
    color: var(--city-lights);
}
.creators {
    margin-left: 20px;
}

#dm-button {
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}

.block {
    margin-left: auto;
    margin-right: auto;
    width: 1fr;
}

/* _________________________________________________________________________________________________ */
/* Bouton dark mode */
/* Récupéré depuis l'exercice 1 du TD2 en JS */

#switch {
    width: 4rem;
    height: 2rem;
    border: 1px solid #1e2939;
    background-color: #1e2939;
    border-radius: 1rem;
    position: relative;
}

.btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: -1px;
    left: auto;
}

i {
    position: absolute;
    left: 0.5rem;
    color: white;
    top: 0.5rem;
}

/* _________________________________________________________________________________________________ */

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Body css */
/* ---------------------------------------------------------------------------------------------------------------------------------- */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-color: var(--prestige-blue);
}

.canvas {
    display: flex;
    background-color: #70a1ff;
}

.welcome {
    width: 50vw;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Footer css */
/* ---------------------------------------------------------------------------------------------------------------------------------- */

footer {
    background-color: var(--prestige-blue);
    height: 7.5vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Autres */
.invisible {
    display: none;
}
